## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

# Lab | Data Structuring and Combining Data

In [481]:
# Your code goes here

# import pandas as pd
# import numpy as np
# read data from 3  url  and combine them into a single dataframe
# url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv
# url2 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
# url3 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

import pandas as pd
import numpy as np
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

In [482]:
# read url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
# into a dataframe and print the first 5 rows
df1 = pd.read_csv(url1)
print(df1.head())

# display dataframe shape
print("Shape of df1:", df1.shape)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Shape of df1: (4008, 11)

In [483]:
# read url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)
print(df2.head())

# Display dataframe shape
print("Shape of df2:", df2.shape)

  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car
Shape of df2: (996, 11)

In [484]:
# read url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url3)
print(df3.head())

# display dataframe shape
print("Shape of df3:", df3.shape)

  Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV
Shape of df3: (7070, 11)

In [485]:
# Concatenate the three dataframes into a single dataframe
# import pandas as pd
# import numpy as np
# read data from 3  url  and combine them into a single dataframe
# url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv
# url2 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
# url3 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv


url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)
df = pd.concat([df1, df2, df3], ignore_index=True)
# print the first 5 rows of the dataframe
print(df.head())    

# display dataframe shape
print("Shape of combined dataframe:", df.shape)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
0  Four-Door Car            2.704934   NaN    NaN
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN
Shape of combined dataframe: (12074, 13)

In [486]:
# print columns before merge
print("Columns BEFORE merge:", df.columns.tolist())

Columns BEFORE merge: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State', 'Gender']

In [487]:
# Display dataframe unique values for all columns
for col in df.columns:
    print(f"Unique values in column '{col}': {df[col].unique()}")

Unique values in column 'Customer': ['RB50392' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
Unique values in column 'ST': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in column 'GENDER': [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in column 'Education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in column 'Customer Lifetime Value': [nan '697953.59%' '1288743.17%' ... 8163.890428 7524.442436 2611.836866]
Unique values in column 'Income': [    0. 48767. 36357. ... 66367. 71941. 21941.]
Unique values in column 'Monthly Premium Auto': [ 1000.    94.   108.   106.    68.    69.    67.   101.    71.    93.
   110.    70.    64.    72.    74.    79.    73.    61.   111.    80.
    63.   237.    65.   130.    62.   117.    91.    90.    66.    99.
   103. 35354.   172.    92.   104.   113.   124.   105.   100.   112.
    97.    95.   102.    96.   186.    77.    76.   119.    87.   109.
   107.    88.    85.  6464.   133.    86.    78.    89.   192.   118.
   140.   127.   126.    82.   115.   217.   114.   138.    81.   255.
   150.   123.   116.   190.    98.   159.    84.    83.   152.   136.
   245.   135.  1005.   225.   132.   153.   121.   139.   154.   161.
   156.   171.   244.   183.   176.   230.   129.   177.   181.   196.
   131.   276.   253.   137.   180.   203.   147.   165.   198.   125.
   193.   128.   271.   142. 10202.   206.   182.   189.   160.   295.
   210.   134. 35353.   239.   188.   256.   173.   285.   148.   141.
   197.   199.    nan   214.   175.   167.   194.   164.   222.   215.
   283.   169.   248.   223.   151.   213.   145.   185.   287.   297.
  5353.   201.   149.   146.  7575.   235.   268.   211.   187.   168.
   122.   143.   155.   166.   212.   249.   240.   191.   195.   216.
   144.   179.   232.   158.   207.   184.   238.   229.   220.   178.
   204.   281.   170.   234.   218.   275.   209.   261.   157.   205.
   228.   242.   284.   231.   208.   296.   202.   162.   274.   219.
   247.   290.   226.   163.   298.   266.   254.   252.   174.   286.]
Unique values in column 'Number of Open Complaints': ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan 0 2 3 1 5 4]
Unique values in column 'Policy Type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in column 'Vehicle Class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Unique values in column 'Total Claim Amount': [   2.704934 1131.464935  566.472247 ...  541.282007  198.234764
  790.784983]
Unique values in column 'State': [nan 'Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
Unique values in column 'Gender': [nan 'M' 'F']

In [488]:
# Combine state
if "ST" in df.columns and "State" in df.columns:
    df["State"] = df["State"].combine_first(df["ST"])
    df.drop(columns=["ST"], inplace=True)

# Combine gender
if "GENDER" in df.columns and "Gender" in df.columns:
    df["Gender"] = df["Gender"].combine_first(df["GENDER"])
    df.drop(columns=["GENDER"], inplace=True)

print(df.head())
print("Shape of final dataframe:", df.shape)

  Customer             Education Customer Lifetime Value   Income  \
0  RB50392                Master                     NaN      0.0
1  QZ44356              Bachelor              697953.59%      0.0
2  AI49188              Bachelor             1288743.17%  48767.0
3  WW63253              Bachelor              764586.18%      0.0
4  GA49547  High School or Below              536307.65%  36357.0

   Monthly Premium Auto Number of Open Complaints     Policy Type  \
0                1000.0                    1/0/00   Personal Auto
1                  94.0                    1/0/00   Personal Auto
2                 108.0                    1/0/00   Personal Auto
3                 106.0                    1/0/00  Corporate Auto
4                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount       State Gender
0  Four-Door Car            2.704934  Washington    NaN
1  Four-Door Car         1131.464935     Arizona      F
2   Two-Door Car          566.472247      Nevada      F
3            SUV          529.881344  California      M
4  Four-Door Car           17.269323  Washington      M
Shape of final dataframe: (12074, 11)

In [489]:
# print columns after merge
print("Columns AFTER merge:", df.columns.tolist())

Columns AFTER merge: ['Customer', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State', 'Gender']

In [490]:
# Create a copy of the combined dataframe to preserve the raw data
df_final = df.copy()
# Display the first 5 rows of the final dataframe
print(df_final.head())
print("Shape of final dataframe copy:", df_final.shape)

  Customer             Education Customer Lifetime Value   Income  \
0  RB50392                Master                     NaN      0.0
1  QZ44356              Bachelor              697953.59%      0.0
2  AI49188              Bachelor             1288743.17%  48767.0
3  WW63253              Bachelor              764586.18%      0.0
4  GA49547  High School or Below              536307.65%  36357.0

   Monthly Premium Auto Number of Open Complaints     Policy Type  \
0                1000.0                    1/0/00   Personal Auto
1                  94.0                    1/0/00   Personal Auto
2                 108.0                    1/0/00   Personal Auto
3                 106.0                    1/0/00  Corporate Auto
4                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount       State Gender
0  Four-Door Car            2.704934  Washington    NaN
1  Four-Door Car         1131.464935     Arizona      F
2   Two-Door Car          566.472247      Nevada      F
3            SUV          529.881344  California      M
4  Four-Door Car           17.269323  Washington      M
Shape of final dataframe copy: (12074, 11)

In [491]:
# Standardize column names for consistency:

# 1. Convert to lowercase
# 2. Replace spaces with underscores
df_final.columns = df_final.columns.str.lower().str.replace(' ', '_')
print("Standardized column names:", df_final.columns.tolist())

Standardized column names: ['customer', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'state', 'gender']

In [492]:
# Check the shape and column names to confirm the dataset structure
print("Final dataframe shape:", df_final.shape)
print("Final dataframe columns:", df_final.columns.tolist())

Final dataframe shape: (12074, 11)
Final dataframe columns: ['customer', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'state', 'gender']

In [493]:
# Identify and handle invalid values in the dataset
# clean these columns with inconsistent and incorrect values to ensure that they only contain valid data
# focus only on cleaning inconsistent values and not involve handling null values (NaN or None).
# standardized Gender column to "M" and "F"
# replaced State abbreviations with its full name or example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
# replace bachelors by Bachelor in education column
# In Customer Lifetime Value, delete the `%` character
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
# ----------------------------------------------------------------------------------------------------------

# standardized Gender column to "M" and "F"
df_final["gender"] = (
    df_final["gender"]
      .astype(str).str.strip().str.upper()
      .replace({"FEMAL": "F", "FEMALE": "F", "MALE": "M"})
      .str[0]
)
df_final.loc[~df_final["gender"].isin(["F","M"]), "gender"] = np.nan


# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
df_final['vehicle_class'] = df_final['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})
# replaced Bachelors by Bachelor in education column
df_final['education'] = df_final['education'].replace({
    'Bachelors': 'Bachelor'
})

# Format customer_lifetime_value as float
# Remove '%' character and convert to float
# round to 2 decimal places
df_final["customer_lifetime_value"] = (
    df_final["customer_lifetime_value"] 
        .astype(str)
        .str.replace('%', '', regex=False)
        .astype(float)
        .round(2)
)

# replaced state abbreviations with its full name or example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
df_final['state'] = df_final['state'].replace({
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
})

# Format number_of_open_complaints as integer
# Extract the middle value from the format '1/x/00'
# convert to string to integer

df_final["number_of_open_complaints"] = (
    df_final["number_of_open_complaints"]
      .astype(str)
      .str.split("/")
      .str[1]
)
df_final["number_of_open_complaints"] = pd.to_numeric(
    df_final["number_of_open_complaints"].astype(str),
    errors="coerce"
).astype("Int64")

# format monthly_premium_auto as integer
df_final["monthly_premium_auto"] = pd.to_numeric(
    df_final["monthly_premium_auto"].astype(str),
    errors="coerce"
).astype("Int64")

# format income as integer
df_final["income"] = pd.to_numeric(
    df_final["income"].astype(str),
    errors="coerce"
).astype("Int64")

# format total_claim_amount as float
# round to 2 decimal places
df_final["total_claim_amount"] = pd.to_numeric(
    df_final["total_claim_amount"].astype(str),
    errors="coerce"
).round(2)

# Display the first 5 rows after cleaning
print(df_final.head())

# Display unique values in each column after cleaning
for col in df_final.columns:
    print(f"\nUnique values in column '{col}': {df_final[col].unique()}")

# Check the shape and column names to confirm the dataset structure
print("\nFinal dataframe shape:", df_final.shape)
print("\nFinal dataframe columns:", df_final.columns.tolist())

  customer             education  customer_lifetime_value  income  \
0  RB50392                Master                      NaN       0
1  QZ44356              Bachelor                697953.59       0
2  AI49188              Bachelor               1288743.17   48767
3  WW63253              Bachelor                764586.18       0
4  GA49547  High School or Below                536307.65   36357

   monthly_premium_auto  number_of_open_complaints     policy_type  \
0                  1000                          0   Personal Auto
1                    94                          0   Personal Auto
2                   108                          0   Personal Auto
3                   106                          0  Corporate Auto
4                    68                          0   Personal Auto

   vehicle_class  total_claim_amount       state gender
0  Four-Door Car                2.70  Washington    NaN
1  Four-Door Car             1131.46     Arizona      F
2   Two-Door Car              566.47      Nevada      F
3            SUV              529.88  California      M
4  Four-Door Car               17.27  Washington      M

Unique values in column 'customer': ['RB50392' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']

Unique values in column 'education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

Unique values in column 'customer_lifetime_value': [       nan  697953.59 1288743.17 ...    8163.89    7524.44    2611.84]

Unique values in column 'income': <IntegerArray>
[    0, 48767, 36357, 62902, 55350, 14072, 28812, 77026, 99845, 83689,
 ...
 86631, 44019, 59367, 38874, 28647, 51205, 60646, 66367, 71941, 21941]
Length: 5656, dtype: Int64

Unique values in column 'monthly_premium_auto': <IntegerArray>
[1000,   94,  108,  106,   68,   69,   67,  101,   71,   93,
 ...
  247,  290,  226,  163,  298,  266,  254,  252,  174,  286]
Length: 210, dtype: Int64

Unique values in column 'number_of_open_complaints': <IntegerArray>
[0, 2, 1, 3, 5, 4, <NA>]
Length: 7, dtype: Int64

Unique values in column 'policy_type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique values in column 'vehicle_class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

Unique values in column 'total_claim_amount': [   2.7  1131.46  566.47 ... 1950.73  541.28  790.78]

Unique values in column 'state': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

Unique values in column 'gender': [nan 'F' 'M']

Final dataframe shape: (12074, 11)

Final dataframe columns: ['customer', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'state', 'gender']

In [494]:
# prin final dataframe variable types
print("Final dataframe variable types:")
print(df_final.dtypes)

Final dataframe variable types:
customer                      object
education                     object
customer_lifetime_value      float64
income                         Int64
monthly_premium_auto           Int64
number_of_open_complaints      Int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
gender                        object
dtype: object

In [495]:
# save the cleaned dataframe to a new CSV file
df_final.to_csv("cleaned_data.csv", index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [496]:
# Your code goes here
# Inspect dataframe 
# url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
url_marketing = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

marketing_df = pd.read_csv(url_marketing)

marketing_df.head()

marketing_df.info()

# display dataframe shape
print("\nDataframe shape:", marketing_df.shape)

# display dataframe columns
print("\nDataframe columns:", marketing_df.columns.tolist())

# display dataframe variable types
print("\nDataframe variable types:")
print(marketing_df.dtypes)

# display dataframe unique values for each column
for col in marketing_df.columns:
    print(f"\nUnique values in column '{col}': {marketing_df[col].unique()}")
    
# display dataframe statistical summary
print("\nDataframe statistical summary:")
print(marketing_df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

Dataframe shape: (10910, 27)

Dataframe columns: ['unnamed:_0', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type', 'month']

Dataframe variable types:
unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

Unique values in column 'unnamed:_0': [    0     1     2 ... 10907 10908 10909]

Unique values in column 'customer': ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']

Unique values in column 'state': ['Arizona' 'California' 'Washington' 'Oregon' 'Nevada']

Unique values in column 'customer_lifetime_value': [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

Unique values in column 'response': ['No' 'Yes']

Unique values in column 'coverage': ['Basic' 'Extended' 'Premium']

Unique values in column 'education': ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

Unique values in column 'effective_to_date': ['2011-02-18' '2011-01-18' '2011-02-10' '2011-01-11' '2011-01-17'
 '2011-02-14' '2011-02-24' '2011-01-19' '2011-01-04' '2011-01-02'
 '2011-02-07' '2011-01-31' '2011-01-26' '2011-02-28' '2011-01-16'
 '2011-02-26' '2011-02-23' '2011-01-15' '2011-02-02' '2011-02-15'
 '2011-01-24' '2011-02-21' '2011-02-22' '2011-01-07' '2011-01-28'
 '2011-02-08' '2011-02-12' '2011-02-20' '2011-01-05' '2011-02-19'
 '2011-01-03' '2011-02-03' '2011-01-22' '2011-01-23' '2011-02-05'
 '2011-02-13' '2011-01-25' '2011-02-16' '2011-02-01' '2011-01-27'
 '2011-01-12' '2011-01-20' '2011-02-06' '2011-02-11' '2011-01-21'
 '2011-01-29' '2011-01-09' '2011-02-09' '2011-02-27' '2011-01-01'
 '2011-02-17' '2011-02-25' '2011-01-13' '2011-01-06' '2011-02-04'
 '2011-01-14' '2011-01-10' '2011-01-08' '2011-01-30']

Unique values in column 'employmentstatus': ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in column 'gender': ['M' 'F']

Unique values in column 'income': [48029     0 22139 ... 61146 39837 64195]

Unique values in column 'location_code': ['Suburban' 'Urban' 'Rural']

Unique values in column 'marital_status': ['Married' 'Single' 'Divorced']

Unique values in column 'monthly_premium_auto': [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

Unique values in column 'months_since_last_claim': [ 7.          3.         34.         10.         15.14907074  2.
  8.         35.         33.         19.         13.          5.
 24.         25.          6.         20.         26.         14.
  9.         29.         11.          1.         18.         16.
 30.         12.          4.         22.         31.         21.
 28.         17.         15.         32.         23.         27.
  0.        ]

Unique values in column 'months_since_policy_inception': [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

Unique values in column 'number_of_open_complaints': [0.         0.38425611 3.         1.         2.         4.
 5.        ]

Unique values in column 'number_of_policies': [9 1 2 7 4 3 6 8 5]

Unique values in column 'policy_type': ['Corporate Auto' 'Personal Auto' 'Special Auto']

Unique values in column 'policy': ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

Unique values in column 'renew_offer_type': ['Offer3' 'Offer4' 'Offer2' 'Offer1']

Unique values in column 'sales_channel': ['Agent' 'Call Center' 'Branch' 'Web']

Unique values in column 'total_claim_amount': [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

Unique values in column 'vehicle_class': ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV']

Unique values in column 'vehicle_size': ['Medsize' 'Small' 'Large']

Unique values in column 'vehicle_type': ['A']

Unique values in column 'month': [2 1]

Dataframe statistical summary:
          unnamed:_0 customer       state  customer_lifetime_value response  \
count   10910.000000    10910       10910             10910.000000    10910
unique           NaN     9134           5                      NaN        2
top              NaN  ID89933  California                      NaN       No
freq             NaN        7        4183                      NaN     9444
mean     5454.500000      NaN         NaN              8018.241094      NaN
std      3149.590053      NaN         NaN              6885.081434      NaN
min         0.000000      NaN         NaN              1898.007675      NaN
25%      2727.250000      NaN         NaN              4014.453113      NaN
50%      5454.500000      NaN         NaN              5771.147235      NaN
75%      8181.750000      NaN         NaN              8992.779137      NaN
max     10909.000000      NaN         NaN             83325.381190      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
count     10910     10910             10910            10910  10910  ...
unique        3         5                59                5      2  ...
top       Basic  Bachelor        2011-01-27         Employed      F  ...
freq       6660      3272               239             6789   5573  ...
mean        NaN       NaN               NaN              NaN    NaN  ...
std         NaN       NaN               NaN              NaN    NaN  ...
min         NaN       NaN               NaN              NaN    NaN  ...
25%         NaN       NaN               NaN              NaN    NaN  ...
50%         NaN       NaN               NaN              NaN    NaN  ...
75%         NaN       NaN               NaN              NaN    NaN  ...
max         NaN       NaN               NaN              NaN    NaN  ...

        number_of_policies    policy_type       policy  renew_offer_type  \
count         10910.000000          10910        10910             10910
unique                 NaN              3            9                 4
top                    NaN  Personal Auto  Personal L3            Offer1
freq                   NaN           8128         4118              4483
mean              2.979193            NaN          NaN               NaN
std               2.399359            NaN          NaN               NaN
min               1.000000            NaN          NaN               NaN
25%               1.000000            NaN          NaN               NaN
50%               2.000000            NaN          NaN               NaN
75%               4.000000            NaN          NaN               NaN
max               9.000000            NaN          NaN               NaN

        sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
count           10910        10910.000000          10910         10910
unique              4                 NaN              6             3
top             Agent                 NaN  Four-Door Car       Medsize
freq             4121                 NaN           5834          7873
mean              NaN          434.888330            NaN           NaN
std               NaN          292.180556            NaN           NaN
min               NaN            0.099007            NaN           NaN
25%               NaN          271.082527            NaN           NaN
50%               NaN          382.564630            NaN           NaN
75%               NaN          547.200000            NaN           NaN
max               NaN         2893.239678            NaN           NaN

       vehicle_type         month
count         10910  10910.000000
unique            1           NaN
top               A           NaN
freq          10910           NaN
mean            NaN      1.466728
std             NaN      0.498915
min             NaN      1.000000
25%             NaN      1.000000
50%             NaN      1.000000
75%             NaN      2.000000
max             NaN      2.000000

[11 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [498]:
# # Analyze which sales channel generates the highest total revenue.
# Create a pivot table to summarize total revenue by sales channel.
# channels: branch, call center, web, and mail.
# Round the total revenue to 2 decimal points.  


# Analyze which sales channel generates the highest total revenue
revenue_by_channel = (
    marketing_df.pivot_table(
        values="monthly_premium_auto",
        index="sales_channel",
        aggfunc="sum"
    )
    .round(2)
)


print("\nTotal revenue by sales channel:")
print(revenue_by_channel)

# Identify the top-performing channel
top_channel = revenue_by_channel["monthly_premium_auto"].idxmax()
print(f"\nThe sales channel with the highest total revenue is: {top_channel}")

Total revenue by sales channel:
               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

The sales channel with the highest total revenue is: Agent

**Insight: Total Revenue by Sales Channel**
>
> The variable monthly_premium_auto is used as a proxy for revenue, as it represents the recurring premium paid by customers.
>
> This is not a complete or exact revenue calculation, since it does not account for:
>    - policy duration
>    - customer churn
>    - cancellations
>    - discounts or refunds
>    - claim payouts
>
> Therefore, the results should be interpreted as an approximation rather than actual total sales revenue.
>
> Additionally, the dataset does not include a "Mail" sales channel, so revenue from this channel cannot be analyzed.

In [499]:
# Create a pivot table that shows the average customer lifetime value per gender and education level. 
# Analyze the resulting table to draw insights.
avg_clv = (
    marketing_df.pivot_table(
        values="customer_lifetime_value",
        index=["gender", "education"],
        aggfunc="mean"          
    )
    .round(2)
)
print("\nAverage Customer Lifetime Value by Gender and Education Level:")
print(avg_clv)

Average Customer Lifetime Value by Gender and Education Level:
                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

**Insights: Average Customer Lifetime Value by Gender and Education Level**
>
> Gender alone does not strongly determine customer lifetime value.
Differences in CLV are more pronounced across education levels than between genders.
>
> Customer Lifetime Value varies more by education level than by gender:
>
> Customers with lower education levels (High School or Below) show relatively high CLV, 
especially among female customers. Among higher education levels, male customers tend to 
slightly outperform females in terms of average CLV.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [500]:
# Your code goes here
# Analyze the months with the highest number of complaints by policy type category.
# Create a sumary table showing the number of complaints by policy type and month.
# Show the results in a long format table.
complaints_summary = (
    marketing_df.pivot_table(
        values="number_of_open_complaints",
        index="policy_type",
        columns="month",
        aggfunc="sum",
        fill_value=0
    )
    .reset_index()
    .melt(id_vars="policy_type", var_name="month", value_name="number_of_complaints")
)
print("\nNumber of Complaints by Policy Type and Month:")
print(complaints_summary)

Number of Complaints by Policy Type and Month:
      policy_type month  number_of_complaints
0  Corporate Auto     1            443.434952
1   Personal Auto     1           1727.605722
2    Special Auto     1             87.074049
3  Corporate Auto     2            385.208135
4   Personal Auto     2           1453.684441
5    Special Auto     2             95.226817