## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

# Lab | Data Structuring and Combining Data

In [403]:
# Your code goes here

# import pandas as pd
# import numpy as np
# read data from 3  url  and combine them into a single dataframe
# url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv
# url2 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
# url3 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

import pandas as pd
import numpy as np
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

In [404]:
# read url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
# into a dataframe and print the first 5 rows
df1 = pd.read_csv(url1)
print(df1.head())

# display dataframe shape
print("Shape of df1:", df1.shape)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
Shape of df1: (4008, 11)

In [405]:
# read url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)
print(df2.head())

# Display dataframe shape
print("Shape of df2:", df2.shape)

  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car
Shape of df2: (996, 11)

In [406]:
# read url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url3)
print(df3.head())

# display dataframe shape
print("Shape of df3:", df3.shape)

  Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV
Shape of df3: (7070, 11)

In [407]:
# Concatenate the three dataframes into a single dataframe
# import pandas as pd
# import numpy as np
# read data from 3  url  and combine them into a single dataframe
# url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv
# url2 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
# url3 = https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

import pandas as pd
import numpy as np
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)
df = pd.concat([df1, df2, df3], ignore_index=True)
# print the first 5 rows of the dataframe
print(df.head())    

# display dataframe shape
print("Shape of combined dataframe:", df.shape)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
0  Four-Door Car            2.704934   NaN    NaN
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN
Shape of combined dataframe: (12074, 13)

In [408]:
# print columns before merge
print("Columns BEFORE merge:", df.columns.tolist())

Columns BEFORE merge: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State', 'Gender']

In [409]:
# Display dataframe unique values for all columns
for col in df.columns:
    print(f"Unique values in column '{col}': {df[col].unique()}")

Unique values in column 'Customer': ['RB50392' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
Unique values in column 'ST': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values in column 'GENDER': [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values in column 'Education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values in column 'Customer Lifetime Value': [nan '697953.59%' '1288743.17%' ... 8163.890428 7524.442436 2611.836866]
Unique values in column 'Income': [    0. 48767. 36357. ... 66367. 71941. 21941.]
Unique values in column 'Monthly Premium Auto': [ 1000.    94.   108.   106.    68.    69.    67.   101.    71.    93.
   110.    70.    64.    72.    74.    79.    73.    61.   111.    80.
    63.   237.    65.   130.    62.   117.    91.    90.    66.    99.
   103. 35354.   172.    92.   104.   113.   124.   105.   100.   112.
    97.    95.   102.    96.   186.    77.    76.   119.    87.   109.
   107.    88.    85.  6464.   133.    86.    78.    89.   192.   118.
   140.   127.   126.    82.   115.   217.   114.   138.    81.   255.
   150.   123.   116.   190.    98.   159.    84.    83.   152.   136.
   245.   135.  1005.   225.   132.   153.   121.   139.   154.   161.
   156.   171.   244.   183.   176.   230.   129.   177.   181.   196.
   131.   276.   253.   137.   180.   203.   147.   165.   198.   125.
   193.   128.   271.   142. 10202.   206.   182.   189.   160.   295.
   210.   134. 35353.   239.   188.   256.   173.   285.   148.   141.
   197.   199.    nan   214.   175.   167.   194.   164.   222.   215.
   283.   169.   248.   223.   151.   213.   145.   185.   287.   297.
  5353.   201.   149.   146.  7575.   235.   268.   211.   187.   168.
   122.   143.   155.   166.   212.   249.   240.   191.   195.   216.
   144.   179.   232.   158.   207.   184.   238.   229.   220.   178.
   204.   281.   170.   234.   218.   275.   209.   261.   157.   205.
   228.   242.   284.   231.   208.   296.   202.   162.   274.   219.
   247.   290.   226.   163.   298.   266.   254.   252.   174.   286.]
Unique values in column 'Number of Open Complaints': ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan 0 2 3 1 5 4]
Unique values in column 'Policy Type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values in column 'Vehicle Class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Unique values in column 'Total Claim Amount': [   2.704934 1131.464935  566.472247 ...  541.282007  198.234764
  790.784983]
Unique values in column 'State': [nan 'Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
Unique values in column 'Gender': [nan 'M' 'F']

In [410]:
# Combine state
if "ST" in df.columns and "State" in df.columns:
    df["State"] = df["State"].combine_first(df["ST"])
    df.drop(columns=["ST"], inplace=True)

# Combine gender
if "GENDER" in df.columns and "Gender" in df.columns:
    df["Gender"] = df["Gender"].combine_first(df["GENDER"])
    df.drop(columns=["GENDER"], inplace=True)

print(df.head())
print("Shape of final dataframe:", df.shape)

  Customer             Education Customer Lifetime Value   Income  \
0  RB50392                Master                     NaN      0.0
1  QZ44356              Bachelor              697953.59%      0.0
2  AI49188              Bachelor             1288743.17%  48767.0
3  WW63253              Bachelor              764586.18%      0.0
4  GA49547  High School or Below              536307.65%  36357.0

   Monthly Premium Auto Number of Open Complaints     Policy Type  \
0                1000.0                    1/0/00   Personal Auto
1                  94.0                    1/0/00   Personal Auto
2                 108.0                    1/0/00   Personal Auto
3                 106.0                    1/0/00  Corporate Auto
4                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount       State Gender
0  Four-Door Car            2.704934  Washington    NaN
1  Four-Door Car         1131.464935     Arizona      F
2   Two-Door Car          566.472247      Nevada      F
3            SUV          529.881344  California      M
4  Four-Door Car           17.269323  Washington      M
Shape of final dataframe: (12074, 11)

In [411]:
# print columns after merge
print("Columns AFTER merge:", df.columns.tolist())

Columns AFTER merge: ['Customer', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State', 'Gender']

In [412]:
# Create a copy of the combined dataframe to preserve the raw data
df_final = df.copy()
# Display the first 5 rows of the final dataframe
print(df_final.head())
print("Shape of final dataframe copy:", df_final.shape)

  Customer             Education Customer Lifetime Value   Income  \
0  RB50392                Master                     NaN      0.0
1  QZ44356              Bachelor              697953.59%      0.0
2  AI49188              Bachelor             1288743.17%  48767.0
3  WW63253              Bachelor              764586.18%      0.0
4  GA49547  High School or Below              536307.65%  36357.0

   Monthly Premium Auto Number of Open Complaints     Policy Type  \
0                1000.0                    1/0/00   Personal Auto
1                  94.0                    1/0/00   Personal Auto
2                 108.0                    1/0/00   Personal Auto
3                 106.0                    1/0/00  Corporate Auto
4                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount       State Gender
0  Four-Door Car            2.704934  Washington    NaN
1  Four-Door Car         1131.464935     Arizona      F
2   Two-Door Car          566.472247      Nevada      F
3            SUV          529.881344  California      M
4  Four-Door Car           17.269323  Washington      M
Shape of final dataframe copy: (12074, 11)

In [413]:
# Standardize column names for consistency:

# 1. Convert to lowercase
# 2. Replace spaces with underscores
df_final.columns = df_final.columns.str.lower().str.replace(' ', '_')
print("Standardized column names:", df_final.columns.tolist())

Standardized column names: ['customer', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'state', 'gender']

In [414]:
# Check the shape and column names to confirm the dataset structure
print("Final dataframe shape:", df_final.shape)
print("Final dataframe columns:", df_final.columns.tolist())

Final dataframe shape: (12074, 11)
Final dataframe columns: ['customer', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'state', 'gender']

In [415]:
# Identify and handle invalid values in the dataset
# clean these columns with inconsistent and incorrect values to ensure that they only contain valid data
# focus only on cleaning inconsistent values and not involve handling null values (NaN or None).
# standardized Gender column to "M" and "F"
# replaced State abbreviations with its full name or example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
# replace bachelors by Bachelor in education column
# In Customer Lifetime Value, delete the `%` character
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
# ----------------------------------------------------------------------------------------------------------

# standardized Gender column to "M" and "F"
df_final["gender"] = (
    df_final["gender"]
      .astype(str).str.strip().str.upper()
      .replace({"FEMAL": "F", "FEMALE": "F", "MALE": "M"})
      .str[0]
)
df_final.loc[~df_final["gender"].isin(["F","M"]), "gender"] = np.nan


# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
df_final['vehicle_class'] = df_final['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})
# replaced Bachelors by Bachelor in education column
df_final['education'] = df_final['education'].replace({
    'Bachelors': 'Bachelor'
})

# Format customer_lifetime_value as float
# Remove '%' character and convert to float
# round to 2 decimal places
df_final["customer_lifetime_value"] = (
    df_final["customer_lifetime_value"] 
        .astype(str)
        .str.replace('%', '', regex=False)
        .astype(float)
        .round(2)
)

# replaced state abbreviations with its full name or example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
df_final['state'] = df_final['state'].replace({
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
})

# Format number_of_open_complaints as integer
# Extract the middle value from the format '1/x/00'
# convert to string to integer

df_final["number_of_open_complaints"] = (
    df_final["number_of_open_complaints"]
      .astype(str)
      .str.split("/")
      .str[1]
)
df_final["number_of_open_complaints"] = pd.to_numeric(
    df_final["number_of_open_complaints"].astype(str),
    errors="coerce"
).astype("Int64")

# format monthly_premium_auto as integer
df_final["monthly_premium_auto"] = pd.to_numeric(
    df_final["monthly_premium_auto"].astype(str),
    errors="coerce"
).astype("Int64")

# format income as integer
df_final["income"] = pd.to_numeric(
    df_final["income"].astype(str),
    errors="coerce"
).astype("Int64")

# format total_claim_amount as float
# round to 2 decimal places
df_final["total_claim_amount"] = pd.to_numeric(
    df_final["total_claim_amount"].astype(str),
    errors="coerce"
).round(2)

# Display the first 5 rows after cleaning
print(df_final.head())

# Display unique values in each column after cleaning
for col in df_final.columns:
    print(f"\nUnique values in column '{col}': {df_final[col].unique()}")

# Check the shape and column names to confirm the dataset structure
print("\nFinal dataframe shape:", df_final.shape)
print("\nFinal dataframe columns:", df_final.columns.tolist())

  customer             education  customer_lifetime_value  income  \
0  RB50392                Master                      NaN       0
1  QZ44356              Bachelor                697953.59       0
2  AI49188              Bachelor               1288743.17   48767
3  WW63253              Bachelor                764586.18       0
4  GA49547  High School or Below                536307.65   36357

   monthly_premium_auto  number_of_open_complaints     policy_type  \
0                  1000                          0   Personal Auto
1                    94                          0   Personal Auto
2                   108                          0   Personal Auto
3                   106                          0  Corporate Auto
4                    68                          0   Personal Auto

   vehicle_class  total_claim_amount       state gender
0  Four-Door Car                2.70  Washington    NaN
1  Four-Door Car             1131.46     Arizona      F
2   Two-Door Car              566.47      Nevada      F
3            SUV              529.88  California      M
4  Four-Door Car               17.27  Washington      M

Unique values in column 'customer': ['RB50392' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']

Unique values in column 'education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor' nan]

Unique values in column 'customer_lifetime_value': [       nan  697953.59 1288743.17 ...    8163.89    7524.44    2611.84]

Unique values in column 'income': <IntegerArray>
[    0, 48767, 36357, 62902, 55350, 14072, 28812, 77026, 99845, 83689,
 ...
 86631, 44019, 59367, 38874, 28647, 51205, 60646, 66367, 71941, 21941]
Length: 5656, dtype: Int64

Unique values in column 'monthly_premium_auto': <IntegerArray>
[1000,   94,  108,  106,   68,   69,   67,  101,   71,   93,
 ...
  247,  290,  226,  163,  298,  266,  254,  252,  174,  286]
Length: 210, dtype: Int64

Unique values in column 'number_of_open_complaints': <IntegerArray>
[0, 2, 1, 3, 5, 4, <NA>]
Length: 7, dtype: Int64

Unique values in column 'policy_type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique values in column 'vehicle_class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

Unique values in column 'total_claim_amount': [   2.7  1131.46  566.47 ... 1950.73  541.28  790.78]

Unique values in column 'state': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

Unique values in column 'gender': [nan 'F' 'M']

Final dataframe shape: (12074, 11)

Final dataframe columns: ['customer', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount', 'state', 'gender']

In [416]:
# prin final dataframe variable types
print("Final dataframe variable types:")
print(df_final.dtypes)

Final dataframe variable types:
customer                      object
education                     object
customer_lifetime_value      float64
income                         Int64
monthly_premium_auto           Int64
number_of_open_complaints      Int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
gender                        object
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [417]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [418]:
# Your code goes here